@media (max-width: 425px) {
    .navbar {
        max-width: 100px;
        background-color: var(--BLACK);
        display: flex;
        flex-direction: column;
        color: var(--RED);
    }
}

@media (min-width: 426px) {
    .mainHeader {
        background-color: var(--BLACK);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: var(--GUTTER);
    }

    .navbar {
        min-height: 75px;
        font-size: 1.8rem;
        display: flex;
        align-items: center;
        color: var(--WHITE);
    }

    .linkList {
        display: flex;
    }

    .linkListItem {
        margin-right: 25px;
    }

    .linkListItem:last-child {
        margin-right: 0;
    }

    .link:hover {
        border: transparent 1px solid;
        padding: 5px;
        border-radius: 5px;
        box-shadow: 0 0 15px 0 var(--GREY);
        background-color: var(--ORANGE);
        color: var(--BLACK);
    }
}