@media (max-width: 560px) {
    .headerWrapper {
        position: fixed;
        width: 100%;
        box-shadow: 0px 5px 10px var(--GREY);
    }

    .mainHeader {
        max-height: 75px;
        background-color: var(--BLACK);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 25px;
    }

    .navWrapper {
        width: 100%;
    }

    .navbar {
        background-color: var(--BLACK);
        font-size: 1.2rem;
        display: flex;
        flex-direction: column;
        color: var(--WHITE);
    }

    .linkList {
        display: flex;
        justify-content: space-evenly;
    }

    .link:hover {
        border: transparent 1px solid;
        padding: 5px;
        border-radius: 5px;
        box-shadow: 0 0 15px 0 var(--GREY);
        background-color: var(--ORANGE);
        color: var(--BLACK);
    }
}

@media (min-width: 561px) and (max-width: 900px){
    .headerWrapper {
        position: fixed;
        width: 100%;
        box-shadow: 0px 5px 10px var(--GREY);
    }

    .mainHeader {
        max-height: 75px;
        background-color: var(--BLACK);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 50px;
    }

    .navWrapper {
        width: 100%;
    }

    .navbar {
        background-color: var(--BLACK);
        display: flex;
        flex-direction: column;
        color: var(--WHITE);
        font-size: 1.6rem;
    }

    .linkList {
        display: flex;
        justify-content: space-evenly;
    }

    .link:hover {
        border: transparent 1px solid;
        padding: 5px;
        border-radius: 5px;
        box-shadow: 0 0 15px 0 var(--GREY);
        background-color: var(--ORANGE);
        color: var(--BLACK);
    }
}

@media (min-width: 901px) {
    .headerWrapper {
        position: none;
    }

    .mainHeader {
        background-color: var(--BLACK);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: var(--GUTTER);
    }

    .navWrapper {
        width: 100%;
    }

    .navbar {
        font-size: 1.8rem;
        flex-direction: column;
        display: flex;
        color: var(--WHITE);
        justify-content: center;
    }

    .linkList {
        display: flex;
        justify-content: space-evenly;
    }

    .link:hover {
        border: transparent 1px solid;
        padding: 5px;
        border-radius: 5px;
        box-shadow: 0 0 15px 0 var(--GREY);
        background-color: var(--ORANGE);
        color: var(--BLACK);
    }
}
