@media (max-width: 560px) {
    body {
        background-color: var(--BG-GREY);
    }

    p {
        padding-bottom: 15px;
    }

    .maintanceHeader {
        font-size: 2rem;
        padding: 25px 15px;
    }

    .maintanceForm {
        display: flex;
        flex-direction: column;
        font-size: 1.6rem;
        text-align: start;
        align-items: center;
    }

    .maintanceFormRow {
        display: flex;
        justify-content: center;
    }

    .maintanceFormColumn {
        display: flex;
        flex-direction: column;
    }

    .maintanceInput {
        outline: none;
        border-bottom: 1px solid black;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }

    .maintanceFormColumn:first-child {
        padding-right: 55px;
    }

    button.maintanceSubmit {
        width: 20%;
        text-align: center;
        padding: 10px 0;
        border-radius: 5px;
    }

    button.maintanceSubmit:hover {
        box-shadow: 0px 0px 10px 1px var(--GREY);
    }

    textarea.maintanceInput {
        height: 133px;
        resize: none;
    }
}

@media (min-width: 561px) and (max-width: 900px) {
    body {
        background-color: var(--BG-GREY);
    }

    p {
        padding-bottom: 15px;
    }

    .maintanceHeader {
        font-size: 3rem;
        padding: 25px 15px;
    }

    .maintanceForm {
        display: flex;
        flex-direction: column;
        font-size: 2.2rem;
        text-align: start;
        align-items: center;
    }

    .maintanceFormRow {
        display: flex;
        justify-content: center;
    }

    .maintanceFormColumn {
        display: flex;
        flex-direction: column;
    }

    .maintanceInput {
        outline: none;
        border-bottom: 1px solid black;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }

    .maintanceFormColumn:first-child {
        padding-right: 55px;
    }

    button.maintanceSubmit {
        width: 20%;
        text-align: center;
        padding: 10px 0;
        border-radius: 5px;
    }

    button.maintanceSubmit:hover {
        box-shadow: 0px 0px 10px 1px var(--GREY);
    }

    textarea.maintanceInput {
        height: 133px;
        resize: none;
    }
}

@media (min-width: 901px) {
    body {
        background-color: var(--BG-GREY);
    }

    p {
        padding-bottom: 15px;
    }

    .maintanceHeader {
        font-size: 3rem;
        padding: 25px 15px;
    }

    .maintanceForm {
        display: flex;
        flex-direction: column;
        font-size: 2.2rem;
        text-align: start;
        align-items: center;
    }

    .maintanceFormRow {
        display: flex;
        justify-content: center;
    }

    .maintanceFormColumn {
        display: flex;
        flex-direction: column;
    }

    .maintanceInput {
        outline: none;
        border-bottom: 1px solid black;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }

    .maintanceFormColumn:first-child {
        padding-right: 55px;
    }

    button.maintanceSubmit {
        width: 20%;
        text-align: center;
        padding: 10px 0;
        border-radius: 5px;
    }

    button.maintanceSubmit:hover {
        box-shadow: 0px 0px 10px 1px var(--GREY);
    }

    textarea.maintanceInput {
        height: 133px;
        resize: none;
    }
}