.footer {
    background-color: var(--BLACK);
    color: var(--WHITE);
    display: flex;
    flex-direction: column;
    padding: var(--GUTTER);
    align-items: center;
}

.footerNav {
    padding: 25px 0;
    width: 100%;
}

.footerNavLinks {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.4rem;
}

.footerSocial {
    width: 100%;
    padding-bottom: 25px;
}

.footerSocialLinks {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.6rem;
}